@import "./index.css";

body {
    background: oklch(92.8% 0.006 264.531);
    margin: 0;
}

button,
input,
select,
textarea {
    font-family: inherit;
}

header{
    display: flex;
    flex-direction: row;
    background-color:black;
    align-items: center;
    width: 100vw;
    height: 8vh;
    border: solid 2px lightgreen;
}

.icon{
    display: flex;
    flex-direction: row;
    margin-left: var(--space-7);
    gap: var(--space-2);
}
.header-title{
    color: lightgreen;
    margin: auto;
    font: inherit;
    font-weight: bold;
    font-size: var(--text-2xl);
}

.fa-message{
    color:white;
    margin: auto;
    font-size: var(--text-2xl);
}

.links{
    display: flex;
    flex-direction: row;
    font-size: var(--text-xl);
    gap: var(--space-2);
    position: relative;
    left: 65vw;
    list-style-type: none;
}

.link{
    color: lightgreen;
    text-decoration: none;
    font: inherit;
    font-weight: bold;
}
.link:hover{
    color: darkgreen;
}

